body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.carousel-inner > .item > img{
  width: 1170px;
  height:589px;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

